body {
    background-color: #202224; 
}

main {
    text-align: center;
}

.subtitle-message {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
}

.subtitle-image {
    width: 5em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-size: 20em;
}

.default-text {
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
}