<!doctype html>
<html>
    <head>
        <title>Is Arran Good At Rainbow Six Yet?</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <meta name="format-detection" content="telephone=no"> -->
    </head>
    <body>
        <main>
            <h1 class="stats-title default-text">{{ data['good_yet'] }}</h1>
            <p>Best season </p>
            <p>Top operators</p>
            <p>Arran has won % of games</p>
            <p>His Kd is</p>
            <p>Last rank change</p>
        </main>
    </body>
</html>
